<!-- HERO SECTION -->
<div class="hero-section">

  <div class="main-video-container">
    <div class="overlay"></div>

    <div class="hero-video">
      <video #bgVideo muted loop playsinline webkit-playsinline preload="metadata">
        <source src="/6769801-uhd_3840_2160_24fps_1.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="hero-content">
    <p class="subtitle">Single Origin • Fresh Roast</p>

    <h1>HARİKA TAT, SICAK ATMOSFER</h1>

    <div class="buttons">
      <button routerLink="/menu" class="btn outline">Menüyü Keşfet</button>
    </div>
  </div>

</div>

<section class="parallax-wrapper">

  <div class="parallax-section">


    <div class="content">
      <div class="left">
        <img src="/Hikayemiz.png" alt="">
        <h1>HİKAYEMİZ</h1>
      </div>
      <div class="right">
        <h2>
          Quattro, Bergama’da hem ailelerin keyifle vakit geçirebileceği hem de gençlerin buluşma noktası olacak
          sıcak ve modern bir atmosfer sunmak amacıyla kuruldu. Özenle tasarlanmış dekorasyonu, rahat ortamı ve samimi
          yapısıyla yalnızca bir kafe değil, günün temposundan uzaklaşabileceğiniz özel bir yaşam alanı sunar. Menümüzde
          özenle hazırlanan kahveler, günlük taze tatlılar ve lezzetli yemek seçenekleri yer alırken, her detay kalite
          ve misafir memnuniyeti odağında şekillenir. İster kısa bir mola ister keyifli bir buluşma için olsun, Quattro
          Bergama’da buluşma noktası olmaya devam ediyor.

        </h2>
      </div>

    </div>

  </div>

  <div class="background">
    <div class="gold-strip">
      <div class="marquee">
        <span>
          QUATTRO • COFFEE • LATTE • BERGAMA • FRESH ROAST •
        </span>
      </div>
    </div>


  </div>

  <section class="gallery-section">

    <div class="gallery-grid">
      <div class="gallery-card">
        <img src="/E.jpg">
      </div>

      <div class="gallery-card">
        <img src="/B.jpg">
      </div>

      <div class="gallery-card">
        <img src="/C.jpg">
      </div>

      <div class="gallery-card">
        <img src="/D.jpg">
      </div>
    </div>

  </section>

  <div class="review-container">


    <div class=" review-box">

      <a class="review-btn" href="https://g.page/r/CYFfDv-h-W3xEBM/review" target="_blank" rel="noopener">
        Google’da Yorum Yap
      </a>

      <a class="review-link" href="https://www.google.com.tr/maps/place/Quattro+Coffee+%26+Kitchen+Bergama/@39.1061219,27.1756553,767m/data=!3m2!1e3!4b1!4m6!3m5!1s0x14b9f969f1c47953:0xf16df9a1ff0e5f81!8m2!3d39.1061219!4d27.1782302!16s%2Fg%2F11w2gsg0pl?hl=tr&entry=ttu&g_ep=EgoyMDI2MDIxOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener">
        Haritalarda Gör
      </a>
    </div>

    <div class="rate-us">
      <h1>Quattro'yu Google'da Değerlendirin.</h1>
      <img src="/rate-us.png" alt="">
    </div>


  </div>


</section>