<div class="main-container">
  <div class="overlay"></div>
  <div class="main-video-container">
    <div class="hero-video">
      <video #bgVideo muted loop playsinline preload="auto">
        <source src="/6769802-uhd_3840_2160_24fps.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="hero-content">
    <p class="subtitle">Single Origin • Fresh Roast</p>

    <h1>HARİKA TAT, SICAK ATMOSFER</h1>

    <p class="desc">
      Afrika ve Latin Amerika'nın seçili çiftliklerinden;
      temiz ve aromatik profiller.
    </p>

    <div class="buttons">
      <button class="btn primary">Online Mağaza</button>
      <button class="btn outline">Kahveleri Keşfet</button>
    </div>

</div>
