/* GENEL CONTAINER */
.container{
  max-width:1200px;
  margin:0 auto;
  padding: 0px 150px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-family: "Josefin Sans", sans-serif;
}

/* HEADER */
.header{
  padding: 15px 0px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  color:white;
  background: transparent;
  border-bottom:1px solid rgba(255,255,255,0.4);
}

/* NAV */
.nav a{
  text-decoration:none;
  color:white;
  font-weight:400;
}

/* Mobil taşmayı engeller */
.nav{
  display:flex;
  flex-wrap:wrap;
  gap: 40px;
}

.logo img{
    width: 100px;
    height: auto;
}
