<div class="menu-wrapper">
  <aside class="sidebar">
    <ul>
      <li>
        <button [routerLink]="['/menu', 'kahveler']" class="sidebar-btn" [class.active]="activeKey === 'kahveler'">
          Kahveler
        </button>
      </li>

      <li>
        <button [routerLink]="['/menu', 'ana-yemekler']" class="sidebar-btn" [class.active]="activeKey === 'ana-yemekler'">
          Ana Yemekler
        </button>
      </li>

      <li>
        <button [routerLink]="['/menu', 'tatlılar']" class="sidebar-btn" [class.active]="activeKey === 'tatlılar'">
          Tatlılar
        </button>
      </li>

    </ul>
  </aside>



  <!-- Main Content -->
  <main class="menu-content">
    <div class="category-title">
      <!-- categoryName mapping ile -->
      <h2>{{ categoryNameMap[activeKey] }}</h2>
    </div>

    <div class="products-grid">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="'/' + product.image" alt="{{ product.productName }}">
        <h3 class="product-title">{{ product.productName }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <div class="product-footer">
          <span class="product-price">₺{{ product.price }}</span>
        </div>
      </div>
    </div>
  </main>

</div>