<!-- Kategroiler kısmı -->

<div class="categories-container">
  <div class="categories-grid">

    <div class="category-card" routerLink="/menu/ana-yemekler">
      <h3>Ana Yemekler</h3>
    </div>

     <div class="category-card" routerLink="/menu/kahvaltı">
      <h3>Kahvaltı</h3>
    </div>

     <div class="category-card" routerLink="/menu/burgerler">
      <h3>Burgerler</h3>
    </div>

    <div class="category-card" routerLink="/menu/makarnalar">
      <h3>Makarnalar</h3>
    </div>

    <div class="category-card" routerLink="/menu/salatalar">
      <h3>Salatalar</h3>
    </div>

    <div class="category-card" routerLink="/menu/wrapler">
      <h3>Wrapler</h3>
    </div>  

     <div class="category-card" routerLink="/menu/kruvasan-sandwichler">
      <h3>Kruvasan Sandwichler</h3>
    </div>  

  <div class="category-card" routerLink="/menu/tatlılar">
      <h3>Tatlılar</h3>
    </div> 

   

<div class="category-card" routerLink="/menu/special-sıcaklar">
      <h3>Special Sıcaklar</h3>
    </div> 

    <div class="category-card" routerLink="/menu/special-soğuklar">
      <h3>Special Soğuklar</h3>
    </div> 

<div class="category-card" routerLink="/menu/çaylar">
      <h3>Çaylar</h3>
    </div> 

    <div class="category-card" routerLink="/menu/ekstralar">
      <h3>Ekstralar</h3>
    </div> 



    <div class="category-card" routerLink="/menu/dondurmalar">
      <h3>Dondurmalar</h3>
    </div> 

     <div class="category-card" routerLink="/menu/sıcak-içecekler">
      <h3>Sıcak İçecekler</h3>
    </div> 

    <div class="category-card" routerLink="/menu/soğuk-içecekler">
      <h3>Soğuk İçecekler</h3>
    </div> 

    <div class="category-card" routerLink="/menu/bowllar">
      <h3>Bowllar</h3>
    </div> 


    <div class="category-card" routerLink="/menu/tostlar">
      <h3>Tostlar</h3>
    </div> 

    <div class="category-card" routerLink="/menu/bazlamalar">
      <h3>Bazlamalar</h3>
    </div> 

    <div class="category-card" routerLink="/menu/gözlemeler">
      <h3>Gözlemeler</h3>
    </div>

    <div class="category-card" routerLink="/menu/atıştırmalıklar">
      <h3>Atıştırmalıklar</h3>
    </div>

      <div class="category-card" routerLink="/menu/milkshakeler">
      <h3>Milkshakeler</h3>
    </div>
 

     <div class="category-card" routerLink="/menu/sıcak-kahveler">
      <h3>Sıcak Kahveler</h3>
    </div>

    <div class="category-card" routerLink="/menu/soğuk-kahveler">
      <h3>Soğuk Kahveler</h3>
    </div>

 

    <div class="category-card" routerLink="/menu/meşrubatlar">
      <h3>Meşrubatlar </h3>
    </div>

     <div class="category-card" routerLink="/menu/pizzalar">
      <h3>Pizzalar </h3>
    </div>

    


 

  </div>
 
</div>