.footer {
    background: #111;
    color: #eaeaea;
    padding: 80px 28px;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.footer h3 {
    color: #c8a46b;
    letter-spacing: 3px;
    margin-bottom: 12px;
}

.footer h4 {
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.footer p {
    color: #bdbdbd;
    line-height: 1.8;
}



.footer-bottom {
    max-width: 1200px;
    margin: 44px auto 0;
    padding: 18px 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    color: #8c8c8c;
    font-size: 14px;
    text-align: center;
}

@media(max-width:900px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}