<footer class="footer">
    <div class="footer-container">

        <div class="footer-col quattro">
            <h3>QUATTRO</h3>
            <p>Bergama’da sıcak bir buluşma noktası.</p>
        </div>

        <div class="footer-col">
            <h2>İletişim</h2>
            <p>0(530) 183 59 96</p>
            <p>Fatih Mahallesi, Anafartalar Caddesi, No:1 D:E İzmir/Bergama</p>
            <p>Çalışma saatleri: 09:00 – 23:00</p>
        </div>

        <div class="footer-col social">
            <div class="social-text">
                <h2>Sosyal Medya</h2>
            </div>
            <div class="social-media-icons">
                <div class="social-media-icon">
                    <a href="https://www.instagram.com/quattrocoffee.tr/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="social-media-icon">
                    <a href="https://share.google/Ld7o3a6uuwbZ8cLYK"><i class="fa-brands fa-google"></i></a>
                </div>

                <div class="social-media-icon">
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>

        </div>


    </div>

    <div class="footer-bottom">
        © 2026 Quattro. Tüm hakları saklıdır.
    </div>

</footer>